<nav class="navbar">
    <div class="logo">
      <a routerLink="/home">
        <span class="brand">WeekendWayfinder</span>
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/sign-in" routerLinkActive="active">Sign In</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/trip-planner" routerLinkActive="active">Trip Planner</a></li>
      <li><a routerLink="/ai-trip-suggestions" routerLinkActive="active">AI Suggestions</a></li>
    </ul>
</nav>
